[project]
	description = This is a repository to teach my class about Github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Don Patterson (djp3)
[access "refs/for/refs/*"]
	read = group user/Don Patterson (djp3)
	push = group user/Don Patterson (djp3)
	label-Code-Review = -2..+2 group user/Don Patterson (djp3)
	label-Verified = -1..+1 group user/Don Patterson (djp3)
	rebase = group user/Don Patterson (djp3)
	removeReviewer = group user/Don Patterson (djp3)
	submit = group user/Don Patterson (djp3)
[access "refs/heads/*"]
	read = group user/Don Patterson (djp3)
	create = group user/Don Patterson (djp3)
	push = +force group user/Don Patterson (djp3)
	pushMerge = group user/Don Patterson (djp3)
[access "refs/tags/*"]
	push = +force group user/Don Patterson (djp3)
	pushTag = group user/Don Patterson (djp3)
	pushSignedTag = group user/Don Patterson (djp3)
